<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0"/>
    <pages validateRequest="false"/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
<!--ProjectGuid: cb8e7bbe-5f11-48fe-b008-4b7947dc5f5c-->